﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="RDLToRDLC.Default" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>



    <div>
        <rsweb:ReportViewer ID="ReportViewer1"  
            runat="server" 
            Font-Names="Verdana" Font-Size="8pt" 
            WaitMessageFont-Names="Verdana" 
            WaitMessageFont-Size="14pt" Height="750px" Width="100%">
            
        </rsweb:ReportViewer>
      <%--  <asp:ObjectDataSource ID="ObjectDataSource1" runat="server" OldValuesParameterFormatString="original_{0}" 
            SelectMethod="STM48Bank" TypeName="RDLToRDLC.RDLC_DataSrcTableAdapters.SMT48ReportBANKTableAdapter">
            <SelectParameters>
                <asp:Parameter Name="TIMEKEY" Type="Int32" />
            </SelectParameters>
        </asp:ObjectDataSource>
       

        <asp:ObjectDataSource ID="ObjectDataSource3" runat="server" OldValuesParameterFormatString="original_{0}" 
            SelectMethod="SMT48Report_BlockWise" TypeName="RDLToRDLC.RDLC_DataSrcTableAdapters.SMT48Report_BlockWiseTableAdapter">
            <SelectParameters>
                <asp:Parameter Name="AssetBlock" Type="String" />
                <asp:Parameter Name="TIMEKEY" Type="Int32" />
            </SelectParameters>
        </asp:ObjectDataSource>--%>


    </div>
        
    </form>
</body>
</html>
<%-- <div style="height: 480px; width: 680px">
            <br />
            <asp:ScriptManager ID="ScriptManager2" runat="server"></asp:ScriptManager>
             <rsweb:ReportViewer ID="ReportViewer2" runat="server" Font-Names="Verdana" Font-Size="8pt" WaitMessageFont-Names="Verdana" WaitMessageFont-Size="14pt" Height="600px" Width="800px" style="text-align: center">
              
            </rsweb:ReportViewer>

            
            <asp:ObjectDataSource ID="ObjectDataSource2" runat="server" SelectMethod="GetData" TypeName="ReportViewer.Report1DatasetTableAdapters.AssetTxnDetails_ModTableAdapter" InsertMethod="Insert" OldValuesParameterFormatString="original_{0}">
             
            </asp:ObjectDataSource>

        </div>--%>